* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border-color: black;
  border-radius: 5px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 50px;
  width: 200px;
  transition: 0.3s;
  background-color: black;
}
.input:hover {
  transform: scale(1.2);
  background-color: aliceblue;
}

